Repository DevDaniloSants/mcDecos: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add increaseProductQuantity and decreaseProductQuantity to cartReducer
  src/components/cart-item/cart-item.components.tsx
  src/components/cart-item/cart-item.styles.ts
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add selectProductTotalPrice
  src/components/cart/cart.components.tsx
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add selectProductsQuantity
  src/components/header/header.components.tsx
  src/components/header/header.styles.ts
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

fix: resolve serialization error by adding middleware to ignore specific actions
  src/components/cart/cart.styles.ts
  src/components/category-filter/category-filter.styles.ts
  src/components/product-item/product-item.styles.ts
  src/store/store.ts
Due: npx eslint --ext .ts --fix

feat: add favotires page
  src/App.tsx
  src/components/cart/cart.styles.ts
  src/components/favotires/favorites.component.tsx
  src/components/favotires/favorites.styles.ts
  src/components/header/header.components.tsx
  src/components/header/header.styles.ts
  src/pages/favorites/favorites.page.tsx
  src/pages/favorites/favorites.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

style: add responsive grid layout for small screens
  src/components/cart/cart.styles.ts
  src/components/category-filter/category-filter.styles.ts
Due: npx eslint --ext .ts --fix

feat: add favotiresReducer
  src/store/favorites/favoritesSlice.ts
  src/store/root-reducer.ts
  src/store/store.ts
Due: npx eslint --ext .ts --fix

feat: add selectFavotitesTotal to header component
  src/components/header/header.components.tsx
Due: npx eslint --ext .tsx --fix

feat: add customBanner to categoryPage
  src/components/customBanner/customBanner.component.tsx
  src/components/customBanner/customBanner.styles.ts
  src/pages/category/category.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: used favoritesReducer
  src/components/favotires/favorites.component.tsx
  src/components/favotires/favorites.styles.ts
  src/components/product-details/product-details.components.tsx
  src/components/product-details/product-details.styles.ts
  src/pages/favorites/favorites.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

refactor: button component for reuse across different components, avoiding code duplication
  src/components/favoriteButton/favoriteButton.components.tsx
  src/components/favoriteButton/favoriteButton.styles.ts
  src/components/product-details/product-details.components.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add favoriteButton to productItem component
  src/components/favoriteButton/favoriteButton.styles.ts
  src/components/product-details/product-details.styles.ts
  src/components/product-item/product-item.components.tsx
  src/components/product-item/product-item.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

refactor: rename folder and files, update imports and references
  src/components/cart/cart.components.tsx
  src/components/favorites/favorites.components.tsx
  src/components/favorites/favorites.styles.ts
  src/pages/favorites/favorites.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

refactor: rename folder and files, update imports and references
  src/components/customBanner/customBanner.components.tsx
  src/pages/category/category.page.tsx
  src/pages/favorites/favorites.page.tsx
Due: npx eslint --ext .tsx --fix

style: increase gap from 1rem to 1.5rem
  src/components/header/header.styles.ts
  src/components/product-details/product-details.components.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: display message when there are no favorites
  src/components/favorites/favorites.components.tsx
  src/components/favorites/favorites.styles.ts
  src/pages/favorites/favorites.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

style: add clamp function for font-size
  src/components/favorites/favorites.styles.ts
Due: npx eslint --ext .ts --fix

refactor: rename home styled components for better readability
  src/pages/home/home.page.tsx
  src/pages/home/home.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add helper function for project use
  src/helpers/isRestaurantOpenHelper.ts
Due: npx eslint --ext .ts --fix

feat: add homeProps to component and restaurant open status
  src/components/button/button.styles.ts
  src/pages/home/home.page.tsx
  src/pages/home/home.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

style: update padding of HeaderContainer to 1rem 3rem
  src/components/header/header.styles.ts
Due: npx eslint --ext .ts --fix

fix: adjust padding to prevent horizontal scroll issue
  src/components/category-filter/category-filter.componets.tsx
  src/components/product-item/product-item.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

fix: update button 'right' property from 20px to 16px
  src/components/product-item/product-item.styles.ts
Due: npx eslint --ext .ts --fix

feat: add PaymentDetails section to Cart Component
  src/assets/card.svg
  src/assets/money.svg
  src/assets/pix.svg
  src/colors/theme.colors.ts
  src/components/button/button.components.tsx
  src/components/cart/cart.components.tsx
  src/components/cart/cart.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add React Hook Form to cart form and create CartForm types
  package-lock.json
  package.json
  src/components/cart/cart.components.tsx
  src/components/cart/cart.styles.ts
  src/types/cartForm.types.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add error messages for cart form fields
  src/colors/theme.colors.ts
  src/components/cart/cart.components.tsx
  src/components/cart/cart.styles.ts
  src/pages/RootLayout.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add order submission handler and clearProducts action in Redux
  src/components/cart/cart.components.tsx
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add toastify in project
  package-lock.json
  package.json
Due: none

feat: add notification for closed restaurant status
  src/components/button/button.components.tsx
  src/components/button/button.styles.ts
  src/components/cart/cart.components.tsx
  src/main.tsx
  src/pages/home/home.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add notification succesfully
  src/components/cart/cart.components.tsx
  src/components/product-details/product-details.components.tsx
Due: npx eslint --ext .tsx --fix

fix: ensure TypeScript type compatibility issue with async thunk
  src/components/cart/cart.components.tsx
  src/pages/category/category.page.tsx
  src/store/category/CategorySlice.ts
  src/store/store.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add Vercel configuration for URL rewrites
  vercel.json
Due: none

fix: ensure image path issue for production deployment
  src/components/category-nav/category-nav.components.tsx
Due: npx eslint --ext .tsx --fix

fix: ensure configure Redux store with serializableCheck to ignore Redux Persist actions
  src/store/store.ts
Due: npx eslint --ext .ts --fix

Update README.md
  README.md
Due: none

Path conditions:
  npx eslint --ext .ts --fix: any of: *.ts
  npx eslint --ext .tsx --fix: any of: *.tsx
