Repository DevDaniloSants/mcDecos: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

.lintstagedrc.json:

{
    "*.ts": ["npx eslint --ext .ts --fix"],
    "*.tsx": ["npx eslint --ext .tsx --fix"]
}

feat: add React Router Dom and Home Page in project
  package-lock.json
  package.json
  src/App.tsx
  src/pages/home/home.page.tsx
Due: npx eslint --ext .tsx --fix

style: add global Background color and color
  src/index.css
Due: none

feat: created custom button components
  src/components/button/button.components.tsx
  src/components/button/button.style.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: created Home page
  src/pages/home/home.page.tsx
  src/pages/home/home.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

style: update icon dimensions on home page
  src/pages/home/home.styles.ts
Due: npx eslint --ext .ts --fix

feat: add firebase to the project and created a script to add the categories to the database
  package-lock.json
  package.json
  src/config/firebase.config.ts
  src/scripts/firestore-script.js
Due: npx eslint --ext .ts --fix

feat: add Header Component in RootLayout
  src/App.tsx
  src/components/button/button.components.tsx
  src/components/button/button.styles.ts
  src/components/header/header.components.tsx
  src/components/header/header.styles.ts
  src/pages/RootLayout.tsx
  src/pages/explore/explore.page.tsx
  src/pages/home/home.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add project interfaces
  src/types/cartProducts.types.ts
  src/types/category.types.ts
  src/types/ingredient.types.ts
  src/types/product.types.ts
Due: npx eslint --ext .ts --fix

feat: created categoryConverter
  src/converters/firestore.converters.ts
Due: npx eslint --ext .ts --fix

feat: add redux toolkit and category slice
  package-lock.json
  package.json
  src/hooks/redux.hooks.ts
  src/main.tsx
  src/store/category/CategorySlice.ts
  src/store/root-reducer.ts
  src/store/store.ts
  tsconfig.app.json
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add Category Nav Components
  .gitignore
  src/App.tsx
  src/assets/all.png
  src/colors/theme.colors.ts
  src/components/category-nav/category-nav.components.tsx
  src/components/category-nav/category-nav.styles.ts
  src/index.css
  src/pages/explore/explore.page.tsx
  src/store/category/CategorySlice.ts
  src/types/category.types.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

chore: add Framer Motion in project
  package-lock.json
  package.json
Due: none

feat: created Category Item Components
  src/components/category-item/category-item.components.tsx
  src/components/category-item/category-item.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: created Category Filter Components
  src/components/category-filter/category-filter.componets.tsx
  src/components/category-filter/category-filter.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: created Loading Components
  src/components/loading/loading.components.tsx
  src/components/loading/loading.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add Category Page
  src/pages/RootLayout.tsx
  src/pages/category/category.page.tsx
  src/pages/category/category.styles.ts
  src/pages/home/home.page.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

refactor: move sensitive data to .env file
  .gitignore
  src/components/category-filter/category-filter.componets.tsx
  src/components/category-item/category-item.components.tsx
  src/components/product-item/product-item.components.tsx
  src/components/product-item/product-item.styles.ts
  src/config/firebase.config.ts
  src/scripts/firestore-script.js
  src/store/category/CategorySlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

style: apply flexbox to button for centered alignment with gap
  src/components/button/button.styles.ts
Due: npx eslint --ext .ts --fix

style: update font from Roboto to Roboto Condensed in index.css
  src/components/button/button.styles.ts
  src/index.css
  src/pages/home/home.styles.ts
Due: npx eslint --ext .ts --fix

style: remove Roboto Condensed font from category-nav
  src/components/category-nav/category-nav.styles.ts
Due: npx eslint --ext .ts --fix

style: update colors
  src/colors/theme.colors.ts
Due: npx eslint --ext .ts --fix

style: remove Roboto Condensed font
  src/components/header/header.styles.ts
Due: npx eslint --ext .ts --fix

feat: created product-details component
  src/assets/background.png
  src/components/product-details/product-details.components.tsx
  src/components/product-details/product-details.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add product page
  src/App.tsx
  src/pages/product/product.page.tsx
Due: npx eslint --ext .tsx --fix

feat: add navigation to product details page
  src/components/product-item/product-item.components.tsx
  src/components/product-item/product-item.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

style: add max-height to custom button
  src/components/button/button.styles.ts
Due: npx eslint --ext .ts --fix

feat: add ingredients carousel component
  src/components/ingredients-carousel/ingredients-carousel.components.tsx
  src/components/ingredients-carousel/ingredients-carousel.styles.ts
  src/components/product-details/product-details.components.tsx
  src/components/product-details/product-details.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add navigation to home on icon click
  src/components/product-details/product-details.components.tsx
  src/components/product-details/product-details.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add cartSlice
  src/store/cart/CartSlice.ts
  src/store/root-reducer.ts
Due: npx eslint --ext .ts --fix

fix: extend Button from HTMLButtonElement and spread rest props to CustomButton
  src/components/button/button.components.tsx
Due: npx eslint --ext .tsx --fix

feat: export toggleCart action from cartSlice
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix

feat: add cart component
  src/components/cart/cart.components.tsx
  src/components/cart/cart.styles.ts
  src/components/product-details/product-details.components.tsx
  src/pages/RootLayout.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

fix: update CartContainer to use transient props for visibility control
  src/components/cart/cart.components.tsx
  src/components/cart/cart.styles.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add addProduct function to handle product additions in cartSlice
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix

feat: add cartItem component
  src/colors/theme.colors.ts
  src/components/cart-item/cart-item.components.tsx
  src/components/cart-item/cart-item.styles.ts
  src/components/cart/cart.components.tsx
  src/components/cart/cart.styles.ts
  src/components/product-details/product-details.components.tsx
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add removeProduct function to handle product additions in cartSlice
  src/components/cart-item/cart-item.components.tsx
  src/components/cart-item/cart-item.styles.ts
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add Redux Persist to cartReducer
  package-lock.json
  package.json
  src/main.tsx
  src/store/store.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix

feat: add handleCartToggle to header
  src/components/cart/cart.components.tsx
  src/components/category-nav/category-nav.styles.ts
  src/components/header/header.components.tsx
  src/components/header/header.styles.ts
  src/components/product-details/product-details.components.tsx
  src/store/cart/CartSlice.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .tsx --fix
